<nav class=" navbar navbar-expand-lg" style="background-color: #1A365D" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: #FFFFFF" href="#">Dr. Sano</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" style="color: #FFFFFF" aria-current="page" href="#">inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #FFFFFF" href="resenas">Reseñas</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="color: #FFFFFF"
          >
            Conocenos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" style="color: #FFFFFF" href="#">Mision</a></li>
            <li><a class="dropdown-item" style="color: #FFFFFF" href="#">Vision</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" style="color: #FFFFFF" href="#">Historia</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="buscar" aria-label="buscar" />
        <button class="btn" style="color: #FFFFFF" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
